.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    padding: 40px 20px;
    width: 350px;
    display: block;
    margin: 50px auto; }

.login-form__title {
    color: #00BCD4;
    font-weight: 300;
    text-align: center;
    font-size: 2.4rem;
}

.login-form__input {
    margin: 10px auto 0 auto;
    width: 100% !important;
}

.login-form__btn {
    margin: 20px 0;
    width: 100%;
}

.login-form__forget-link {
    display: block;
    color: #2F2F3C;
    text-align: right;
    width: 100%;
}

.forgot-pass {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}